* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.cf {
  content: '';
  display: table;
  clear: both;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* {
  font-family: 'Poppins', sans-serif;
}
/* header */
header {
}
header .wrapper nav ul {
  position: absolute;
  margin: 0;
}
header .wrapper nav ul li {
  list-style: none;
  float: right;
  margin-right: 30px;
}
header .wrapper nav ul li a {
  display: inline-block;
  padding: 42px 0;
  color: #000;
}

/* banner */
.banner {
  background-image:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0 )), url('../img/bg-image.jpg');
  background-size: cover;
}
.banner .wrapper {
  height: 700px;
  text-align: center;
}
.banner .wrapper .name {
  display: inline-block;
  margin-top: 250px;
}
.banner .wrapper .name h1 {
  font-size: 80px;
  font-weight: 400;
}
.banner .wrapper .name a {
  font-weight: 500;
  font-size: #fff;
  background-color: #fff;
  padding: 15px 40px;
  border: 2px solid #fff;
  color: #000;
  border-radius: 30px;
  display: inline-block;
}

/* about-me */
.about-me {
  margin-top: 50px;
}
.about-me .wrapper h1 {
  font-size: 35px;
  font-weight: 500;
}
.about-me .wrapper>p {
  font-size: 17px;
  margin-bottom: 30px;
}
.about-me .wrapper .image {
  display: inline-block;
}
.about-me .wrapper .image img {
  width: 400px;
  height: 500px;
}
.about-me .wrapper .inner {
  display: inline-block;
  width: 580px;
}
.about-me .wrapper .inner h1 {
  font-weight: 300;
  font-size: 60px;
}
.about-me .wrapper .inner p {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 24px;
  color: #333333;
}
.about-me .wrapper .inner a {
  font-weight: 500;
  font-size: #fff;
  background-color: #333333;
  padding: 15px 40px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
}

/* resume */
.resume  {
  margin-top: 50px;
}
.resume .wrapper>h1 {
  font-size: 35px;
  font-weight: 600;
}
.resume .wrapper .skills {
  display: inline-block;
  width: calc(33% - 10px);
  background-color: #000  ;
  float: left;
}
.resume .wrapper .skills h1 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  /* text-align: center; */
}
.resume .wrapper .skills ul li {
  list-style: none;
  margin-bottom: 10px;
  display: inline-block;
  width: calc(50% - 5px);
  text-align: center;
}
.resume .wrapper .skills ul {
  text-decoration: none;
  flex-wrap: wrap;
}
.resume .wrapper .skills ul li a {
  justify-content: flex-start;
}
.resume .wrapper .skills ul li a h1 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.resume .wrapper .skills ul li a img {
  width: 70px;
  box-shadow: inset 0 0px 21px -3px #fff;
}
.resume .wrapper .skills ul li:nth-child(4n) a img {
  width: 80px;
}
.resume .wrapper .skills ul li:nth-child(5n) a img {
  width: 80px;
}
.resume .wrapper .skills ul li a .heading {
  /* display: inline-block; */
  /* width: 400px; */
  /* background-color: yellow; */
}
.resume .wrapper .skills ul .html a .heading p {
  display: none;
}
.resume .wrapper .skills ul .html a:hover .heading p {
  display: block;
}
.resume .wrapper .skills ul li a img {

}
/* Education */
.resume .wrapper .education {
  width: calc(65%);
  background-color: yellow;
  margin-left: 30px;
  float: right;
}
.resume .wrapper .education .heading h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .wrapper .education p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 24px;
  color: #333333;
}
.resume .wrapper .education .start {
  justify-content: flex-start;
  padding-left: 20px;
}
.resume .wrapper .education .start h1 {
  font-size: 20px;
  font-weight: 700;
}
.resume .wrapper .education .start p {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.resume .wrapper .education .start i {
  font-size: 40px;
  margin-right: 20px;
  padding-bottom: 16px;
}
.resume .wrapper .education .bachelor i {
  font-size: 48px;
  margin-right: 20px;
  padding-bottom: 19px;

}
.resume .wrapper .education .pre-university i {
  font-size: 48px;
  margin-right: 20px;
}
.resume .wrapper .hobbies {
  width: calc(33% - 10px);
  background-color: red;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.resume .wrapper .hobbies>h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .wrapper .hobbies .list h1 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}
.resume .wrapper .hobbies .list img {
  margin-left: 30px;
  margin-right: 30px;
}
.resume .wrapper .hobbies .list {
  text-align: center;
  justify-content: space-between;
}
.resume .wrapper .languages {
  background-color: yellow;
  width: calc(33% - 10px);
}
.resume .wrapper .languages>h1 {
  font-size: 30px;
  font-weight: 500;
}
.resume .wrapper .languages .list h1 {
  font-size: 23px;
  font-weight: 500;
  margin-left: 10px;
}
.resume .wrapper .personal {
  width: calc(33% - 10px);
  background-color: grey;
  margin-top: 20px;
  float: right;
}
.resume .wrapper .personal h1 {
  font-size: 22px;
  font-weight: 500;
}
.resume .wrapper .personal>h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .wrapper .personal .description {
  margin-left: 20px;
}
.resume .wrapper .personal .description p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 35px;
}
.resume .wrapper .personal .description span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.resume .wrapper .certification {
  background-color: red;
  width: 687px;
  display: inline-block;
  margin-top: 20px;
}
.resume .wrapper .certification h1 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.resume .wrapper .certification p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 24px;
  color: #333333;
}
.resume .wrapper .certification .image {
  width: 600px;
  height: 400px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}
/* portfolio */
.portfolio {
  margin-top: 50px;
}
.portfolio .wrapper h1 {
  font-size: 30px;
  font-weight: 500;
}
.portfolio .wrapper>h1 {
  font-size: 35px;
  font-weight: 500;
}
.portfolio .wrapper .heading a {
  display: block;
}
.portfolio .wrapper .heading .blog a {
  width: 400px;
  height: 500px;
  overflow: scroll;
  display: block;
}
.portfolio .wrapper .heading .design {
  margin-top: 30px;
}
.portfolio .wrapper .heading .image {
  margin-top: 15px;
}
.portfolio .wrapper .heading .blog {
  margin-top: 30px;
}
.portfolio .wrapper .heading .my-work {
  margin-top : 30px;
}

/* contact */
.contact {
  margin-top: 50px;
}
.contact .wrapper h1 {
  font-size: 35px;
  font-weight: 500;
}
.contact .wrapper .information .touch h1 {
  font-size: 22px;
}
.contact .wrapper .contact-form {
  display: flex;
  flex-flow: column;
}
.contact .wrapper .information {
}
.contact .wrapper .information  .contact-form input {
  padding: 20px 15px;
  border: 2px solid #000;
  margin-bottom: 15px;
  color: red;
  height: 44px;
  width: 540px;
}
.contact .wrapper .information  .contact-form textarea {
  padding: 20px 15px;
  border: 2px solid #000;
  margin-bottom: 15px;
  color: red;
  width: 540px;
  height: 167px;
}
.contact .wrapper .information  .contact-form textarea::placeholder {
  color: red;
}
.contact .wrapper .information  .contact-form input::placeholder {
  color: red;
}
.contact .wrapper .information .contact-form button {
  padding: 16px 0px;
  background-color: #000;
  width: 200px;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 30px;
}
